@import '../../StylesGlobal/base.scss';

.container {
  &_card {
    border: 1px solid #4F4F4F;
    width: 160px;
    height: 240px;
    border-radius: 8px;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.5);

    &:hover {
      cursor: pointer;
    }
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
}

.card > img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  /*   object-fit: cover; */
}

.card_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: rgba(0, 0, 0, 0.7);
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
}

.card_description {
  margin-left: 8px;
  margin-bottom: 6px;

  &-title {
    font-family: 'Montserrat';
    color: $colorSecundary;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    margin-top: 6px;
  }

  &-annio {
    font-family: 'Poppins';
    color: $colorSecundary;
    opacity: 0.7;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-top: 4px;
  }
}

.card_rating {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 5px;
  margin-right: 18px;

  &-value {
    font-family: 'Poppins';
    color: $colorSecundary;
    opacity: 0.7;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
  }
}

.card_bookmark {
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  right: 0;
  top: 0;
  margin-right: 6px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;

  & > img {
    width: 10px;
    height: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    &_card {
      width: 258px;
      height: 392px;
      background: $colorBaseCard;
    }
  }

  .card > img {
    height: 304px;
    object-fit: cover;
  }

  .card_content {
    background: transparent;
    margin-bottom: 25px;
  }

  .card_description {
    margin-left: 17px;

    &-title {
      font-size: 16px;
      line-height: 19.5px;
    }
    &-annio {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .card_rating{

    &-value {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .card_bookmark {
    width: 40px;
    height: 40px;
    background: transparent;
    top: initial;

    & > img {
      width: 13px;
      height: 16px;
    }
  }

}
