@import './base';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #242525;
}

@media only screen and (min-width: 768px) {

  .App-out {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .App {
    padding: 0 43px;
    max-width: $maxWidth;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
}
