@import './base';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

.card_bookmark:hover > .bookmark__card__image {
  filter: brightness(100%);
}

.go3958317564 {
  font-family: 'Poppins';
}

.title__category {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.category__home {
  margin-bottom: 36px;
}

.title__category__home {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 57px;
  color: #FFFFFF;
  margin-bottom: 16px;
}


.container__category {
  margin-top: 47px;
  padding:  0 18px;
}

.card__container__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  place-items: center;
  gap: 37px 10px;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #242525;
}
@media only screen and (min-width: 340px) {
  .card__container__grid {
    grid-template-columns: repeat(auto-fill, 160px);
  }
}

@media only screen and (min-width: 768px) {

  .App-out {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  .App {
    padding: 0 43px;
    max-width: $maxWidth;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .container__category{
    margin-top: 68px;
    padding: inherit;
  }
  .title__category{
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .card__container__grid{
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 43px;
  }
}

body::-webkit-scrollbar {
  width: 10px;
  height: 60%;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: $colorPrimary;
}
